# Travis CI build file for SwiftKueryMySQL.
# SwiftKueryMySQL runs on OS X and Linux (Ubuntu).
# See the following URLs for further details on Travis CI
# https://docs.travis-ci.com/user/customizing-the-build/
# https://docs.travis-ci.com/user/docker/
# https://docs.travis-ci.com/user/multi-os/

# whitelist (branches that should be built)
branches:
  only:
    - master
    - next
    - /^issue.*$/

matrix:
  include:
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:4.0.3 SWIFT_SNAPSHOT=4.0.3 MYSQL_VER=5 DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:4.1.3 SWIFT_SNAPSHOT=4.1.3 MYSQL_VER=5 DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:4.2.4 SWIFT_SNAPSHOT=4.2.4 MYSQL_VER=5 DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:4.2.4 SWIFT_SNAPSHOT=4.2.4 MYSQL_VER=8 DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:5.0.2-xenial MYSQL_VER=5 DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:5.0.2-xenial MYSQL_VER=8 DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:5.0.2 MYSQL_VER=5 DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:5.0.2 MYSQL_VER=8 DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:5.0.2-xenial MYSQL_VER=5 SWIFT_SNAPSHOT=$SWIFT_DEVELOPMENT_SNAPSHOT DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:5.0.2-xenial MYSQL_VER=8 SWIFT_SNAPSHOT=$SWIFT_DEVELOPMENT_SNAPSHOT DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:5.0.2 MYSQL_VER=5 SWIFT_SNAPSHOT=$SWIFT_DEVELOPMENT_SNAPSHOT DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=swift:5.0.2 MYSQL_VER=8 SWIFT_SNAPSHOT=$SWIFT_DEVELOPMENT_SNAPSHOT DOCKER_ENVIRONMENT="MYSQL_VER"
    - os: osx
      osx_image: xcode9.2
      sudo: required
      env: SWIFT_SNAPSHOT=4.0.3 MYSQL_VER=5
    - os: osx
      osx_image: xcode9.4
      sudo: required
      env: SWIFT_SNAPSHOT=4.1.2 MYSQL_VER=5
    - os: osx
      osx_image: xcode10.1
      sudo: required
      env: MYSQL_VER=5 SWIFT_SNAPSHOT=4.2.1
    - os: osx
      osx_image: xcode10.1
      sudo: required
      env: MYSQL_VER=8 SWIFT_SNAPSHOT=4.2.1
    - os: osx
      osx_image: xcode10.2
      sudo: required
      env: MYSQL_VER=5 SWIFT_SNAPSHOT=5.0.1 JAZZY_ELIGIBLE=true
    - os: osx
      osx_image: xcode10.2
      sudo: required
      env: MYSQL_VER=8 SWIFT_SNAPSHOT=5.0.1
    - os: osx
      osx_image: xcode11
      sudo: required
      env: SWIFT_SNAPSHOT=$SWIFT_DEVELOPMENT_SNAPSHOT MYSQL_VER=5
    - os: osx
      osx_image: xcode11
      sudo: required
      env: SWIFT_SNAPSHOT=$SWIFT_DEVELOPMENT_SNAPSHOT MYSQL_VER=8

before_install:
  - git clone https://github.com/IBM-Swift/Package-Builder.git

script:
- ./Package-Builder/build-package.sh -projectDir $TRAVIS_BUILD_DIR
